<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # SSL and Let's Encrypt
    RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
    RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule ^.well-known/acme-challenge - [L]

    # Redirect to HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

    # 重要：修改这部分
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# PHP settings
php_value display_errors 1
php_value log_errors 1
php_value error_log error_log.txt

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch> 